/* https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535 */
nav { 
    display: flex;
    flex-direction: row;
    background: var(--not-quite-black);
    padding: 5px 15px;
}
nav a {
    color: white;
}
#menu {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.logo {
    flex: 1;
    order: 0;
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
    order: 1;
    position: relative;
    display: block;
    width: auto;
}
.item.button {
    padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: var(--text-gray);
}

#menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
}
.button {
    order: 2;
}
.button a {
    background: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}
.button a:hover {
    text-decoration: none;
}
/* .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
} */